<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="ImageCrop.MimeTypes" value="image/jpeg|image/pjpeg|image/png|image/gif|image/tiff|image/bmp" />
    </settings>
    
    <pipelines>
      <getMediaStream>
        <processor patch:after="processor[@type='Sitecore.Resources.Media.GrayscaleProcessor, Sitecore.Kernel']"
                   type="Stendahls.Sc.Imaging.Pipelines.ImageCropProcessor, Stendahls.Sc.Imaging" />
        <processor type="Stendahls.Sc.Imaging.Pipelines.SetJpegCompressionProcessor, Stendahls.Sc.Imaging" />
      </getMediaStream>
    </pipelines>
    
    <mediaLibrary>
      <requestProtection>
        <protectedMediaQueryParameters>
          <parameter description="crop key" name="c" />
          <parameter description="crop width" name="cw" />
          <parameter description="crop height" name="ch" />
          <parameter description="jpeg quality" name="jq" />
        </protectedMediaQueryParameters>
      </requestProtection>
    </mediaLibrary>
  </sitecore>
</configuration>